body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
}

.header {
    height: 65px;
    background-color: #FFFF00;
    vertical-align: middle;
    line-height: 65px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    z-index: 2;
}
    
    .header h1 {
        color: #455A64;
        margin-top: 0;
        font-weight: 400;
        font-size: 25px;
        padding-left: 40px;
    }
    
.midtop {
    height: 300px;
    background-image: url('../img/bgrep.png');
    position: relative;
    z-index:0;
    background-repeat-y: no-repeat;
    background-size: contain;
    text-align: center;
}
    
.ctrlbx {
    width: 300px;
    height: 200px;
    z-index:2;
    background-color: #fff;
    position: relative;
    display: inline-block;
    margin-top: 100px;
    border-radius: 3.5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 25px;
}

    input.mdinput {
        padding: 5px;
        border: none;
        border-bottom: 1px solid #DEDEDE;
        font-size: 20px;
        padding-bottom: 2px;
        margin-top: 3px;
    
    }

    input.mdinput:focus {
        border-bottom: 2px solid #3A8FD8;
        outline: none;
    }

    span.iplabel {
        text-align: left;
        font-size: 15px;
        color: #AFAFAF;
    }

.toolsctrl {
    margin-left: 20px;
}

.inputctrl {
    text-align: left;
}

form {
    display: table;
}

.midbot {
    text-align: center;
    margin-top: 80px;
}

    .midbot h2 {
    font-style: italic;
    font-weight: 400;
    font-size: 45px;
    }
